.tit{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align:center;
}

.abi{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   
}
.form-control{
    background-color:  rgb(211, 240, 240);
}
.textarea{
    height: 140px;
}